<!DOCTYPE html>
<html data-ng-app="rpWebApp">
<head>
    <title>READPUBLIC</title>
    <link rel="stylesheet" href="Content/Site.css">
    <link rel="stylesheet" href="Content/Animation.css">
</head>
<body>
    <div class="header">
        <div id="logoContainer">
        </div>
        <nav class="menu">
            <div id="ulleft">
                <ul>
                    <li class="lileft"><a href="#/Home">Home</a></li>
                    <li class="lileft"><a href="#/Books">Browse Books</a></li>
                    <li class="lileft"><a href="#/MyShelf">My Shelf</a></li>
                    <li class="lileft"><a href="#/About">About</a></li>
                </ul>
            </div>
            <div id="ulcenter">
                <ul>
                    <li class="licenter"></li>
                </ul>
            </div>
            <div id="ulright">
                <ul>
                    <li class="liright">SIGN UP</li>
                    <li class="liright">SIGN IN</li>
                </ul>
            </div>

        </nav>
    </div>
    <div class="content">
        <div>
            <div data-ng-view=""></div>
        </div>
    </div>

    <script src="Scripts/angular.min.js"></script>

    <script src="Angular/Scripts/app.js"></script>

    @*<script src="phonegap.js"></script>*@
</body>
</html>
