<!DOCTYPE html>
<html ng-app="rpApp">
<head>
    <title>readpublic</title>

    <link rel="stylesheet" href="Content/Pure.css">
    <link rel="stylesheet" href="Content/Site.css">
    <link rel="stylesheet" href="Content/Animation.css">
</head>
<body>
    <div class="header">
        <a href="#/Home"><span id="logoContainer"></span></a>
        <nav class="menu">
            <div id="ulleft">
                <ul>
                    <li class="lileft"><a href="#/Books">Books</a></li>
                    <li class="lileft"><a href="#/MyShelf">My Shelf</a></li>
                    <li class="lileft"><a href="#/MyGroups">My Groups</a></li>
                    <li class="lileft"><a href="#/About">About</a></li>
                </ul>
            </div>
            <div id="ulcenter">
                <ul>
                    <li class="licenter"></li>
                </ul>
            </div>
            <div id="ulright">
                <ul>
                    <li class="liright"><a href="#/SignUp">SIGN UP</a></li>
                    <li class="liright"><a href="#/SignIn">SIGN IN</a></li>
                </ul>
            </div>

        </nav>
    </div>
    <div class="content">
        <div>
            <div ng-view="" class="container"></div>
        </div>
    </div>



    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-resource.min.js"></script>
    <script src="Scripts/angular-animate.min.js"></script>
    <script src="Scripts/angular-route.min.js"></script>
    <script src="Angular/Scripts/app.js"></script>
    <script src="Angular/Scripts/Controllers/aboutcontroller.js"></script>
    <script src="Angular/Scripts/Controllers/homecontroller.js"></script>
    <script src="Angular/Scripts/Controllers/bookscontroller.js"></script>
    <script src="Angular/Scripts/Controllers/groupscontroller.js"></script>
    <script src="Angular/Scripts/Controllers/shelfcontroller.js"></script>
    <script src="Angular/Scripts/Controllers/signincontroller.js"></script>
    <script src="Angular/Scripts/Controllers/signupcontroller.js"></script>
    <script src="Angular/Scripts/Factories/accessfactory.js"></script>
    <script src="Angular/Scripts/Factories/userfactory.js"></script>
    @*<script src="phonegap.js"></script>*@
</body>
</html>
